__pycache__
#directories
/scraped_data/*
!/scraped_data/utils
/logs
/output_data
/plots
/generated_data

# files
TODO.md

default_model

delete.py

notebook.ipynb
notebooks/LastFM_scraping.ipynb
notebooks/First_Genius_Scrape.ipynb

# extensions
*.pkl