#directories

__pycache__
/scraped_data/*
!/scraped_data/utils
/logs
/output_data
/plots
/generated_data
/typings
/notebooks/
/ignore/
/lightning_logs
/year_bert_classifier
.conda
.mypy_cache
.idea
.vscode
my_awesome_model/
wandb/
current_model/
models/
# files
investigate.py
wordnet-analysis.tsv
temp.txt
encoder.faissindex
TODO.md
.default_model
default_model
delete.py
notebook.ipynb

# notebooks/LastFM_scraping.ipynb
# notebooks/First_Genius_Scrape.ipynb

# extensions
*.pkl