#directories

__pycache__
/scraped_data/*
!/scraped_data/utils
/logs
/output_data
/plots
/generated_data
/typings
/notebooks/
# files
encoder.faissindex
TODO.md
default_model
delete.py
notebook.ipynb

# notebooks/LastFM_scraping.ipynb
# notebooks/First_Genius_Scrape.ipynb

# extensions
*.pkl